<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #eee;
    padding: 15px;
    width: 550px;
  }
  a{
    color: #5ead22;
  }
  body{
    display: flex;
    justify-content: center;
  }
</style>
<body>
  <div class="container">
    <h3>抱歉、账户激活失败</h3>
    <p>您未在规定的时间内激活账户、我们已清空您的注册信息、请您重新注册账户、谢谢！<a href="https://jiangly.com">点击前往首页</a></p>
  </div>
</body>
</html>