
# 生产环境模板
NODE_ENV=********

DB_ALL_STAR_BASE_HOST=********
DB_ALL_STAR_BASE_PORT=********
DB_ALL_STAR_BASE_NAME=********
DB_ALL_STAR_BASE_USERNAME=********
DB_ALL_STAR_BASE_PASSWORD=********

DB_ECO_ADMIN_HOST=********
DB_ECO_ADMIN_NAME=********
DB_ECO_ADMIN_USERNAME=********
DB_ECO_ADMIN_PASSWORD=********

DB_MATCH_ADMIN_HOST=********
DB_MATCH_ADMIN_NAME=********
DB_MATCH_ADMIN_USERNAME=********
DB_MATCH_ADMIN_PASSWORD=********

#DB_HOST=********
#DB_DBNAME=********
#DB_USERNAME=********
#DB_PASSWORD=********

JWT_SECRET=********
APP_USER_BASE=********
AUTH_BASE=********
GAME_DATA_BASE=********
MATCH_DATA_BASE=********
APP_SMS_BASE=********

REDIS_HOST=********
REDIS_PORT=********
REDIS_PASS=********
REDIS_NEEDPASS=********

TENTCENT_SECRET_ID=********
TENTCENT_SECRET_KEY=********

COS_BUCKET_PUBLIC=********
COS_BUCKET_PRIVATE=********
COS_BUCKET_PRIVATE_CDN=********
COS_BUCKET_STATIC=********
COS_REGION=********

#domain production
DOMAIN_PRODUCTION=********
#domain
DOMAIN=********
#Protocol
PROTOCOL=********
#directory>>>static
DIR_STATIC_IMAGES=********

#pageSize
DB_PAGE_SIZE =********

#max invite count
MAX_INVITE_COUNT=********

#smtp
SMTP_HOST=********
SMTP_FROM=********
SMTP_USER=********
SMTP_PASS=********

#coinbase
COINBASE_KEY=********
COINBASE_SECRET=********

#aws
AWS_ACCESS_KEY_ID=********
AWS_SECRET_ACCESS_KEY=********

#aliyun
ALIYUN_KEY=********
ALIYUN_SECRET=********

#recaptcha
RECAPTCHA_KEY=********
RECAPTCHA_SECRET=********
