doctype html
html(lang='en')
  head
    title Nine邮箱注册
  body
    h1 Welcome to register.
    #container.col
      p 欢迎加入Nine聊天室
      p 请点击下方链接激活您的账号
      ul
        li <a  href="https://baidu.com" target='_blank'>百度 #{url}</a>
